<div class="container mt-5">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="onLogin()" #form="ngForm">
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      required
      class="form-control mb-2"
      placeholder="Correo"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      required
      class="form-control mb-2"
      placeholder="Contraseña"
    />
    <button class="btn btn-primary me-2" type="submit">Ingresar</button>
    <a routerLink="/register" class="btn btn-outline-secondary">Registrarse</a>
  </form>
</div>
